<!DOCTYPE html>
<html lang="en">
<head>
  <title>LaunchNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to 'Launch News', root_path, class: 'brand' %>
    </div>
  </div>

  <%= yield %>
</div>

</body>
</html>
